.\@nav{

    background-color: $dark-20 !important;

    @extend .bg-dark;

    .brand-responsive {

        font-size: 1.5rem;

    }

    @include media-breakpoint-up(lg){

        .brand-responsive {

            font-size: unset;

        }

    }

}

.\*{

    &mb-responsive > :not(:last-child) {

        @extend .mb-2;
        @extend .mb-lg-0;

    }

}