.\@nav{

    background-color: $dark-20 !important;

    @extend .bg-dark;

    .brand-responsive {

        font-size: 1.5rem;

    }

    @include media-breakpoint-up(lg){

        .brand-responsive {

            font-size: unset;

        }

    }

}