.\@nav{

    background-color: $dark20 !important;

    @extend .bg-dark;

    @include media-breakpoint-up(md){

        .brand-responsive {

            font-size: 1.5rem;

        }

    }

    @include media-breakpoint-up(lg){

        .brand-responsive {

            font-size: unset;

        }

    }

}