<footer class="@footer mt-auto">
    <div class="container-lg border-top">
        <div class="flex-wrap justify-content-lg-start py-3
            *flex-center-center *mb-responsive *text-dark">
            <div>
                <a href="/">
                    <img alt="logo">
                </a>
                <span class="text-muted">© 2022, Katsute</span>
            </div>

            <ul class="nav+ ms-lg-auto">
                <li>
                    <a href="/" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="/" target="_blank">
                        <i class="fab fa-patreon"></i>
                    </a>
                </li>
                <li>
                    <a href="/" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>