<header class="@nav p-2">
    <div class="container-lg">
        <div class="flex-wrap justify-content-lg-start
            *flex-center-center *mb-responsive *text-white">
            {% comment %} logo {% endcomment %}
            <div class="*flex-align-center me-0 me-lg-2">
                <a href="/" class="text-decoration-none brand-responsive">@Katsute</a>
            </div>
            {% comment %} navigation {% endcomment %}
            <ul class="nav+ me-lg-auto">
                <li>
                    <a href="/">About</a>
                </li>
                <li>
                    <a href="/">Products</a>
                </li>
                <li>
                    <a href="/">Projects</a>
                </li>
            </ul>
            {% comment %} links {% endcomment %}
            <ul class="nav+ ms-lg-auto">
                <li>
                    <a href="/" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="/" target="_blank">
                        <i class="fab fa-patreon"></i>
                    </a>
                </li>
                <li>
                    <a href="/" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>