---
layout: default-container
---
{% for r in site.data.repos %}
    {% if r.name == page.r %}
        {% assign repo = r %}
        {% break %}
    {% endif %}
{% endfor %}

<div class="@repository row mx-0 mt-3">
    {% comment %} Sidebar {% endcomment %}
    <div class="col-12 col-md-3 col-lg-2 px-0">
        <div class="sidebar between-y-2 mb-2 mb-sm-0 me-0 me-sm-2">
            {% comment %} Side Nav {% endcomment %}
            <div class="bg-white round-3 p-4">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#readme" class="nav-link active">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a href="#downloads" class="nav-link active">Downloads</a>
                    </li>
                    <li class="nav-item">
                        <a href="#details" class="nav-link active">Project Details</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% comment %} Content {% endcomment %}
    <div class="col-12 col-md-9 col-lg-10 px-0">
        <div class="content">
            {% comment %} Header {% endcomment %}
            <div id="readme" class="header">
                {% comment %} GitHub {% endcomment %}
                {% if repo.git %}
                    <a href="https://github.com/{{ repo.git }}"
                    class="btn btn-sm btn-dark"><i class="fab fa-github fa-fw me-1"></i>View on GitHub</a>
                {% endif %}
            </div>
            {% comment %} Content {% endcomment %}
            <article>
                {% comment %} Readme {% endcomment %}
                <div class="markdown">
                    {% if repo.readme %}
                        {% capture readme %}{% include readme/{{ repo.readme }}.md %}{% endcapture %}
                        {{ readme | markdownify }}
                    {% else %}
                        {{ content }}
                    {% endif %}
                </div>
                {% comment %} Downloads {% endcomment %}
                {% if repo.download %}
                    <div id="downloads">
                        <h4 class="text-center mb-0">Downloads</h4>
                        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 flex-justify-center">
                            {% for download in repo.download %}
                                <div class="col mt-2">
                                    <h6 class="text-center pb-1 border-bottom"><i class="{{ download.icon }} fa-fw me-1"></i>{{ download.name }}</h6>
                                    <div>
                                        {% for link in download.links %}
                                            <a href="{{ link.link }}" class="btn btn-sm btn-{{ download.style }}">{{ link.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% comment %} Details {% endcomment %}
                <div id="details" class="between-y-2">
                    <h4 class="text-center mb-0">Project Details</h4>
                    {% comment %} Specifications {% endcomment %}
                    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 flex-justify-center">
                        {% comment %} Built with {% endcomment %}
                        <div class="col mt-2">
                            <h6 class="text-center pb-1 border-bottom">Built with</h6>
                            <div class="between-y-2">
                                {% for t in repo.with %}
                                    <div class="d-flex">
                                        {% include _component/icon.liquid size=25 icon=t notooltip=true %}
                                        <div class="d-flex ps-2">
                                            <p class="small mb-0 align-self-center">{{ site.data.icons[t] }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% comment %} Built using {% endcomment %}
                        <div class="col mt-2">
                            <h6 class="text-center pb-1 border-bottom">Built using</h6>
                            <div class="between-y-2">
                                {% for t in repo.using %}
                                    <div class="d-flex">
                                        {% include _component/icon.liquid size=25 icon=t notooltip=true %}
                                        <div class="d-flex ps-2">
                                            <p class="small mb-0 align-self-center">{{ site.data.icons[t] }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% comment %} Built for {% endcomment %}
                        <div class="col mt-2">
                            <h6 class="text-center pb-1 border-bottom">Built for</h6>
                            <div class="between-y-2">
                                {% for t in repo.for %}
                                    <div class="d-flex">
                                        {% include _component/icon.liquid size=25 icon=t notooltip=true %}
                                        <div class="d-flex ps-2">
                                            <p class="small mb-0 align-self-center">{{ site.data.icons[t] }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% comment %} Details {% endcomment %}
                    <div>
                        <div class="d-inline-block">
                            <table class="table table-s mb-0">
                                <tbody>
                                    <tr>
                                        <th>Role</th>
                                        <td>{{ repo.role }}</td>
                                    </tr>
                                    <tr>
                                        <th>Type</th>
                                        <td>{{ repo.type | capitalize }}</td>
                                    </tr>
                                    <tr>
                                        <th>Created</th>
                                        <td>{{ repo.start }}</td>
                                    </tr>
                                    <tr>
                                        <th>Completed</th>
                                        <td>{% if repo.end %}{{ repo.end }}{% else %}<i>Ongoing Development*</i>{% endif %}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            {% unless repo.end %}
                                <i class="small">*projects with ongoing development have already been completed, but are continually receiving new features and support</i>
                            {% endunless %}
                        </div>
                    </div>
                    {% comment %} Summary {% endcomment %}
                    <div>
                        <h5 class="subheading">Summary</h5>
                        <p>{{ repo.summary }}</p>
                    </div>
                    {% comment %} Description {% endcomment %}
                    <div>
                        <h5 class="subheading">Description</h5>
                        <p>{{ repo.description }}</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>