{% comment %}
Copyright (C) 2022 Katsute <https://github.com/Katsute>

Stack
{% endcomment %}
<div class="col px-0">
    <div class="m-2">
        <ul class="list-group round-3">
            {% for t in include.stack %}
                <li class="list-group-item d-flex p-3">
                    {% assign tech = site.data.tech.tech[t] %}
                    {% include _component/icon.liquid size=30 icon=tech.icon no-tooltip=true %}
                    <div class="ps-2">
                        <h5>{{ tech.title }}</h4>
                        <p class="mb-0">{{ tech.body }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>