{% comment %}
Copyright (C) 2022 Katsute <https://github.com/Katsute>

Stack
{% endcomment %}
<div class="col px-0">
    <div class="m-2">
        <ul class="border-0 round-3 list-group">
            {% for t in include.stack %}
                <li class="list-group-item border-bottom-1 border-0 d-flex p-3">
                    {% assign tech = site.data.tech.tech[t] %}
                    {% include _component/icon.liquid size=30 icon=tech.icon notooltip=true %}
                    <div class="ps-2">
                        <h5>{{ tech.title }}</h4>
                        <p class="mb-0">{{ tech.body }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>