<li>
    <button type="button" class="btn nav-link no-focus-outline p-0 mx-2 text-dark"
        data-bs-toggle="modal"
        data-bs-target="{{ include.target }}">
        <i class="{{ include.icon }} fa-fw fa-xl"></i>
    </button>
</li>